rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null; // For friend requests
    }
    match /games/{gameId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        resource.data.p1Uid == request.auth.uid ||
        resource.data.p2Uid == request.auth.uid ||
        resource.data.p2Uid == ""
      );
      allow delete: if request.auth != null && resource.data.p1Uid == request.auth.uid;
    }
    match /matchmaking/{matchId} {
      allow read, write: if request.auth != null;
    }
    match /invitations/{inviteId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.senderUid == request.auth.uid;
      allow update: if request.auth != null && (
        resource.data.senderUid == request.auth.uid ||
        resource.data.receiverUid == request.auth.uid
      );
      allow delete: if request.auth != null && (
        resource.data.senderUid == request.auth.uid ||
        resource.data.receiverUid == request.auth.uid
      );
    }
  }
}
